<div *ngIf="login">
    <div style="text-align:center">
        <h2>Comptes</h2>
    </div>

    <p></p>

    <div style="text-align:center">
        <button mat-raised-button color="primary" (click)="openDialog()">New Compte</button>
    </div>

    <p></p>

    <div style="text-align:center">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-custom">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="th-custom" style="text-align:center"> ID </th>
                <td mat-cell *matCellDef="let compte"> {{compte.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef class="th-custom" style="text-align:center"> Nom </th>
                <td mat-cell *matCellDef="let compte"> {{compte.nom}} </td>
            </ng-container>


            <ng-container matColumnDef="pw">
                <th mat-header-cell *matHeaderCellDef class="th-custom" style="text-align:center"> Password </th>
                <td mat-cell *matCellDef="let compte"> {{compte.pw}} </td>
            </ng-container>


            <ng-container matColumnDef="ecran">
                <th mat-header-cell *matHeaderCellDef class="th-custom" style="text-align:center"> Ecran </th>
                <td mat-cell *matCellDef="let compte"> {{compte.ecran}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="th-custom" style="text-align:center"> Actions </th>
                <td mat-cell *matCellDef="let compte">
                    <button (click)="openDialogEdit(compte.id)" mat-raised-button color="accent">Edit</button>
                    <button (click)="delete(compte.id)" mat-raised-button color="warn">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div *ngIf="!login">
    <h1>You may not have permission to view this page</h1>
</div>